
body {
    font-size: 16px;
    line-height: 1;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    
}

/* header */

.header {
    margin-bottom: 315px;
}
 

/* Intro */

.intro {
    /*width: 1600px;*/
    background-image: url(../assets/images/header__img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh;*/
    padding: 40px 160px 50px;
}


.intro__padding {
    padding: 40px 160px 50px;
}


.intro__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}


.intro__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    fill: white;
}

.intro__logo:hover {
    color: #C7B299;
    fill: #C7B299;
}


.intro__header-logo {
    font-size: 34px;
    line-height: 1.2;
}




/* Nav */

.nav {
    display: flex;
}

.nav__link {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    margin-right: 24px;
}

.nav__link:hover {
    color: #C7B299;
    
}

.nav__icons {
    margin-left: 30px;
    fill: #fff;
}

.nav__icons:hover {
    fill: #C7B299;
}


/* Slider */

.slider {
    /*width: 1600px;*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 315px;
}

.slider__buttom {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}

.buttom:hover {
    stroke: #D3C1AC;
    fill: #ffffff;
}

.slider__inform {
    width: 570px;
    /*height: 240px;*/
    text-align: center;
}

.slider__suptitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
}

.slider__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 1.2;
    padding-bottom: 5px;
}

.slider__text {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 60px;
}

.slider__link {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
    background: #988574;;
    font-size: 14px;
    line-height: 1.2;
    padding: 20px 40px;
    border-radius: 3px;
}

.slider__link:hover {
    background: #b69d88;
}


.slider__nav {
    display: flex;
    justify-content: center;
    
    
}

.slider__elipse {
    display: block;
    width: 10px;
    height: 15px;
    border-radius: 100%;
    /* fill: #fff;
    fill-opacity: 0.5;*/
    background: #fff;
    border: 1px solid #fff;
    opacity: 0.5;
    margin-right: 10px;
    cursor: pointer;
   
}

.slider__elipse:not(:last-of-type) {
    margin-right: 15px;
}

.slider__elipse:hover {
    transform: scale(1.5);
    /* fill: none;
    stroke: #D3C1AD;*/
    background: none;
    border: 1px solid #D3C1AD;
    
}

.slider__elipse:active {
    transform: scale(1.5);
    background: none;
    border: 1px solid #D3C1AD;
    outline: none;
}

.slider__elipse:focus {
    transform: scale(1.5);
    background: none;
    border: 1px solid #D3C1AD;
    outline: none;
}

/* Services */

.services {
    margin-top: 95px;
}

.services__cards{ 
    display: flex;
    justify-content: center;
    
}


.services__card {
    max-width: 270px;
    text-align: center;
    float: right;
    margin-right: 30px;
}



.services__card-link {
    
    text-decoration: none;
    color: #555555;
    fill:#555555;
}

.services__card-link::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;;
    margin: 30px auto 0;
    
}

.services__card-link:hover {
    color: #C7B299;
    fill:#C7B299 ;
}

.services__card-link:hover::after {
    background-color: #C7B299;
}

.services__card-icon {
    margin-bottom: 30px;
}


.services__card-heading {
    font-family: 'Raleway' sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;

}


.services__card-text {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    margin-top: 20px;
    color: #000;

}

/* About*/

.about {
    background: #FBFAF8;
    padding-top: 80px;
    text-align: center;
}

.about__header {
    font-family: 'Raleway' sans-serif ;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
}

.about__text {
    padding: 20px 0 45px;
    margin: 0 auto;
    font-weight: 300;
    color: #8C8C8C;
    max-width: 770px;
}

.about__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    
}

/* Interval*/

.interval {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    
}

.interval__content {
    display: flex;
    justify-content: space-between;
    padding: 45px 30px;
}

.interval__header{ 
    font-family: 'Raleway' ,sans-serif;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 5px;

}

.interval__word {
    color: #C7B299;

}

.interval__text {
    font-family: 'Montserrat' , sans-serif ;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    color: #615855;
}

.interval__buttom {
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    padding: 20px 32px;
    background: #988574;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    
}

.interval__buttom:hover {
    background: #b69d88;
}

/* Card */

.card {
    background: #fff;
    color: black;
    margin-top: 60px;
}

.card__header {
    text-align: center;
    margin-bottom: 30px;
}

.card__head {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    color: #555;
    margin-bottom: 10px;
}

.card__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    color: #8C8C8C;
    max-width: 800px;
    margin: 0 auto;
}


/* Card__navigation */


.card__navigation{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #8C8C8C;
    box-sizing: border-box;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    width: 120px;
    height: 32px;
    /*padding: 8px 25px;*/
    cursor: pointer;
    float: left;
    margin: 0 10px 0 0;
}

.card-all {
    width: 70px;
    height: 32px;
}

.card__button:hover{
    background: #998575;
    color: #fff;  
}

.card__button:active {
    background: #998575;
    color: #fff;
    transform: scale(1.05);
}

.card__button:focus{
    background: #998575;
    color: #fff;
    outline: none;
}



/*Card__options*/

.card__options  {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.card__options-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-gap: 30px;
}

.card__options-link {  
    text-decoration: none;
    position: relative;
    
}

.card__options-link:hover    {
    box-shadow: 0 0 5px black;
}

.card__option__img-wrapper {
      position: relative;
}

.card__options-img  {
    display: block;
    /*width: 100%;*/
}

.card__option__action-wrapper{
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.card__options-link:hover .card__option__action-wrapper {
  display: flex;
}

.card__options__text-wrapper {
    background: #FBFAF8;
    padding: 25px 0 25px 25px ;
}

.card__options__text-wrapper::after{
    content: ''; 
    position: absolute; 
    left: 20px;
    bottom: 100px; 
    border: 15px solid transparent;
    border-bottom: 10px solid #FBFAF8;  
}


.card__options-link:hover .card__options__text-wrapper::after{
    border-bottom: 10px solid #352F2D;
}


.card__options-text-title,
.card__options-text-description {
  display: block;
}

.card__options-text-title{
  font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #C7B299;
    margin-bottom: 10px;
}


.card__options-link:hover .card__options__text-wrapper {
  background: #352F2D;
}

.card__options-link:hover .card__options-text-title {
    color: #fff
}
  
.card__options-link:hover .card__options-text-description {
    color: #C7B299;
}

.card__options-text-description{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: #D1D1D1;
  
}

.card__buttom-wrapper {
    margin: 70px 0 55px;
    text-align: center;
}

.card__buttom {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
    background: #988574;
    border-radius: 3px;
    padding: 20px 50px;
}

.card__buttom:hover {
    background: #b69d88;
}


/* Video */

.video {
    position: relative;
    background-image: url(../assets/Video/Working_Freelancer_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.video__player {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    
}

.video_wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_play-buttom {
    margin: 0 auto;
    border-radius: 360px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.video_buttom {
    outline: none;
    background: none;
    border-radius: 360px;
    cursor: pointer;
}
.video_play-play-buttom {
    display: block;
    fill: #fff;
    
}

.video_wrapper-wrapper {
    text-align: center;
    display: block;
}

.video_text-header {
    font-family: 'Roleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.video_text-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16;
    line-height: 1.2;
    max-width: 570px;
}

/* Mobile */

.mobile {
    background: #E5E5E5;
}

.mobile__img {
    display: block;   
}

.mobile__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 80px;
    
}


.mobile__wrapper-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
    margin-bottom: 20px;
}

.mobile__wrapper-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    color: #8C8C8C;
    margin-bottom: 50px;
    max-width: 670px;
}

.mobile__block {
    float: right;
}

.mobile__option-block {
    display: flex;

}

.mobile__option-block:not(:last-of-type) {
    margin-bottom: 10px;
}


/* Mobile Button */

.mobile__option-button {
    border-radius: 180px;
    width: 21px;
    height: 21px;
    outline: none;
    color: #FBFAF8;;
    background: #C7B299;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #C7B299;
    cursor: pointer;
    margin-right: 10px;
}

.mobile__option-button:hover {
    background: #b4a694;
    color: #FBFAF8;
}

.mobile__option-button:active {
    background: #b4a694;
    color: #FBFAF8;
    transform: scale(1.1);
}

/*  */

.mobile__option-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    color: #8C8C8C;

}

/* Counters */

.counters {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.counters__blocks {
    display: flex;
    justify-content: space-evenly;
}

.counters__wrapper {
    text-align: center;
    margin: 36px 0;
}

.counters__wrapper::after {
    content: '';
    display: block;
    background-color: #fff;
    height: 2px;
    width: 30px;
    margin: 15px auto 0;
}


.counters__header {
    color: #fff;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.2;
}

.counters__text {
    color: #C7B299;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;


}


/* Recent */

.recent {
    background: #fff;
    padding: 100px 0 40px;

}

.recent__header {
    text-align: center;
    margin-bottom: 30px;
}

.recent__header-head {
    font-family: 'Roleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    color: #555;
    margin-bottom: 20px;
}

.recent__header-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    color: #8c8c8c;
    max-width: 770px;
    margin: 0 auto;
}

.recent__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

}

.recent__card {
    position: relative;
    max-width:  370px;
    border: 1px solid #b2b2b2;
}

.recent__wrapper-wrapper {
    position: relative;
}

.recent__card:hover .recent__wrapper-shadow {
    display: flex;
}

.recent__container {
    margin: 30px 36px 25px 23px   ;
}

.recent__card:hover  {
    background: #352F2D;
}


.recent__wrapper-img {
    display: block;
    
}

.recent__wrapper-shadow{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.recent__wrapper-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #555;
    margin-bottom: 20px;

}

.recent__card:hover .recent__wrapper-header{
    
    color: #C7B299;
}

.recent__wrapper-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 20px;
}

.recent__card:hover .recent__wrapper-text {
    color: #fff;
}

.recent__wrapper-link {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: #c7b299;
    text-decoration: none;
}


/* calendar */

.calendar {
    position: absolute;
    top: 16px;
    left: 23px;
}

.calendar__date {
    width: 50px;
    height: 35px;
    background: #363636;
    border-radius: 3px 3px 0 0 ;
    font-weight: 300;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__month {
    width: 50px;
    height: 25px;
    background: #242424;
    border-radius: 0 0 3px 3px;
    font-family: 'Roboto' , sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.recent__card:hover .calendar__date {
    background: #C7B199;
}

.recent__card:hover .calendar__month {
    background: #A48D71;
}
/*-----------*/

.recent__button-card {
    display: flex;
    justify-content: center;

}

.recent__button-left {
    margin-right: 20px;
    fill: #D1D1D1;
}

.recent__button-left:hover {
    fill: #A48D71;
}


.recent__button-right {
    fill: #C7B299;
}

.recent__button-right:hover {
    fill: #A48D71;
}


/* Partners */

.partners {
    background-image: url(../assets/images/partners__img/bacground_partners.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0;
    
}

.partners__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1065px;
    margin: 0 auto;
}

.partners-logo {
    display: block;
}


/* Footer */

.footer {
    background: #191919;
    padding: 74px 0 128px ;
    color: #fff;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
}


.footer__section {
    max-width: 270px;
}

.footer__section-wrapper {
    padding: 33px 0 0;
}

.footer__section-waxom-header {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.footer__section-head {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
}

.footer__section-waxom-head {
    font-size: 34px;
    font-weight: 400;
}

.footer__text {
    margin-bottom: 18px;
}

.footer__section-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: #555555;
}

.footer__section-link {
    text-decoration: none;
    color: #fff;
}

.footer__section-date {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.2;
    color:#363636;
}

.footer__section-link:hover {
    color: #C7B299;
}

.footer__section-link:hover .footer__section-text{
    color: #C7B299;
}

.footer__section-link:hover .footer__section-date {
    color: #fff;
}

.footer__article:first-of-type {
    margin-top: 24px;
}

.footer__article::after {
    content: '';
    background: #242424;
    display: block;
    width: 270px;
    height: 1px;
    margin: 12px 0 12px;
}

.footer__section-img {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
}


/* Twitter color */

.twitter {
    color: #00BFF3;
}
/*---------------*/

/* Visited*/

.visited {
    color: #757575;
}

/* Copyright */

.copyright {
    background: #101010;
    padding: 60px 0 40px;
}

.footer__wrapper-copy {
    display: flex;
}

.footer__partition {
    display: flex;
}

 .footer__partition::before {
    content: '';
    background: #1A1A1A;
    display: block;
    width: 1px;
    height: 16px;
    margin: 0 12px 0 12px;
 }